<div class="signature-overlay" *ngIf="clickfirma()">
  <div class="signature-container">
    <button class="close-button" (click)="close()">
      <img src="assets/x.png" alt="Cerrar" />
    </button>
    <div class="signature-instructions">Firme en el espacio en blanco</div>
    <canvas #signatureCanvas class="signature-pad"></canvas>
    <div class="buttons">
      <button (click)="clearSignature()">Limpiar</button>
      <button (click)="saveSignature()">Guardar</button>
    </div>
  </div>
</div>
